[submodule "flowdock-rest"]
	path = flowdock-rest
	url = https://github.com/futurice/haskell-flowdock-rest
[submodule "flowdock-grep"]
	path = flowdock-grep
	url = https://github.com/futurice/haskell-flowdock-grep
[submodule "flowdock-cli"]
	path = flowdock-cli
	url = https://github.com/futurice/haskell-flowdock-cli.git
[submodule "futurice-prelude"]
	path = futurice-prelude
	url = https://github.com/futurice/haskell-futurice-prelude.git
[submodule "vendor/chart"]
	path = vendor/chart
	# url = https://github.com/timbod7/haskell-chart.git
	url = https://github.com/futurice/haskell-chart.git
[submodule "vendor/diffusionkinetics-open"]
	path = vendor/diffusionkinetics-open
	url = https://github.com/futurice/diffusionkinetics-open.git
[submodule "vendor/amazonka"]
	path = vendor/amazonka
	url = https://github.com/brendanhay/amazonka.git
[submodule "vendor/gogol"]
	path = vendor/gogol
	url = https://github.com/brendanhay/gogol.git
