application avatar
  docker: avatar
  executable: avatar-server

application checklist
  docker: checklist2
  executable: checklist-app-server

application contacts-api
  docker: contacts-api
  executable: contacts-api-server

application fum-carbon
  docker: fum-carbon
  executable: fum-carbon-server

application hours-api
  docker: hours-api
  executable: hours-api-server

application personio-proxy
  docker: personio-proxy
  executable: personio-proxy-server

application planmill-proxy
  docker: planmill-proxy
  executable: planmill-proxy-server

application planmill-sync
  docker: planmill-sync
  executable: planmill-sync-server

application github-proxy
  docker: github-proxy
  executable: github-proxy-server

application github-sync
  docker: github-sync
  executable: github-sync-server

application prox
  docker: proxy-app
  executable: proxy-app-server

application prox-mgmt
  docker: proxy-mgmt-app
  executable: proxy-mgmt-app-server

application reports
  docker: reports-app
  executable: reports-app-server

application theme
  docker: theme-app
  executable: theme-app-server

application sms-proxy
  docker: sms-proxy
  executable: sms-proxy-server

application email-proxy
  docker: email-proxy
  executable: email-proxy-server

application smileys-api
  docker: smileys-app
  executable: smileys-app-server

application hc
  docker: hc-app
  executable: hc-app-server

application preferennces
  docker: preferences-app
  executable: preferences-app-server

aws-lambda PlanMillProxyCapacityUpdate
  handler:     planMillProxyCapacityLambda
  foreign-lib: planmill-proxy-capacity-lambda

aws-lambda PlanMillProxyCacheUpdate
  handler:     planMillProxyCacheLambda
  foreign-lib: planmill-proxy-cache-lambda

aws-lambda AvatarCacheProcess
  handler:     avatarProcessLambda
  foreign-lib: avatar-process-lambda

-- Build images
-- https://github.com/futurice/docker-base-images
dockerfile-base-image: futurice/base-images:haskell-ghc-8.2.2-20180427

dockerfile-template:
  FROM ubuntu:xenial
  MAINTAINER Oleg Grenrus <oleg.grenrus@iki.fi>
  RUN apt-get -yq update && apt-get -yq --no-install-suggests --no-install-recommends --force-yes install {{debs}} && rm -rf /var/lib/apt/lists/*
  RUN useradd -m -s /bin/bash -d /app app
  EXPOSE 8000
  WORKDIR /app
  RUN chown -R app:app /app
  USER app
  ADD {{exe}} /app
  CMD ["/app/{{exe}}", "+RTS", "-N4", "-A32m", "-T", "-qn2", "-I60"]

--
-- "-i100", "-hd" -- profiling
-- -qn makes parallel gc use only 2 cores
-- -I60 makes idle GC run only every minute  (default 0.3)

-- sfdp might be useful for graphs
-- ADD sfdp /usr/local/bin
deb-packages:
  ca-certificates
  curl
  graphviz
  libcairo2
  libfftw3-bin
  libgmp10
  libgts-bin
  libpango1.0
  libpq5
  netbase
  openssh-client

environment-variables
    FUM_LISTNAME: employees
    FUM_BASEURL: $fum-baseurl
    FUM_TOKEN: $fum-token

    FD_AUTH_TOKEN: $fd-authtoken
    FD_ORGANISATION: futurice

    -- contacts is drunk
    FUM_USER_LIST: employees
    FUM_BASE_URL: $fum-baseurl
    FUM_AUTH_TOKEN: $fum-token
    GH_ORGANISATION: futurice

    PERSONIO_CLIENT_ID: $futu-personio-client-id
    PERSONIO_CLIENT_SECRET: $futu-personio-client-secret

    POSTGRES_URL: postgres://$USER@localhost:5432/$USER
    POSTGRES_PASS: ""

    PLANMILL_BASEURL: $planmill-futu-basurl
    PLANMILL_ADMIN: $planmill-futu-userid
    PLANMILL_SIGNATURE: $planmill-futu-signature

    GH_AUTH_TOKEN: $github-auth-token
    GH_ORG: futurice
    GH_TEAM: $github-team

    -- reports-app
    REPORTS_GH_REPOSURL: $reports-gh-repos
    REPORTSAPP_MISSINGHOURS_CONTRACTS: 0,2,90

    PLANMILLPROXY_HAXLURL:    http://localhost:8808/planmill-haxl
    GITHUBPROXY_HAXLURL:      http://localhost:8811/github-haxl
    PERSONIOPROXY_REQUESTURL: http://localhost:8819/personio-request
    FUMCARBON_HAXLURL:        http://localhost:8812/api/haxl

    EMAILPROXY_BASEURL:    http://localhost:8817
    PREFERENCES_BASEURL:   http://localhost:8820

    -- proxy-app
    REPORTSAPP_BASEURL:    http://localhost:8807
    PLANMILLPROXY_BASEURL: http://localhost:8808
    GITHUBPROXY_BASEURL:   http://localhost:8811
    PERSONIOPROXY_BASEURL: http://localhost:8819
    FUMCARBON_BASEURL:     http://localhost:8812
    POWER_BASEURL:         http://localhost:8000
    CONTACTSAPI_BASEURL:   http://localhost:8802

    -- avatar-app
    LAMBDA_S3_BUCKET: $avatar-s3-bucket
    AVATAR_S3_BUCKET: $avatar-s3-bucket
    AVATARCACHEPROCESS_S3_BUCKET: $avatar-s3-bucket

    -- ports
    AVATARAPP_PORT:     8801
    CONTACTSAPI_PORT:   8802
    -- These two are the same on purpose
    FUTUHOURSAPI_PORT:  8803
    FUTUHOURSMOCK_PORT: 8803
    PROXYAPP_PORT:      8804
    THEMEAPP_PORT:      8806
    REPORTSAPP_PORT:    8807
    PLANMILLPROXY_PORT: 8808
    PROX_PORT:          8809
    CHECKLISTAPP_PORT:  8810
    GITHUBPROXY_PORT:   8811
    FUMAPP_PORT:        8812
    SMILEYS_PORT:       8813
    GITHUBSYNC_PORT:    8814
    PLANMILLSYNC_PORT:  8815
    HCAPP_PORT:         8816
    EMAILPROXY_PORT:    8817
    PROXYMGMT_PORT:     8818
    PERSONIOPROXY_PORT: 8819
    PREFERENCES_PORT:   8820

    -- For local development
    PLANMILLPROXY_CLI_ENDPOINT: http://localhost:8804/planmill-proxy
    PLANMILLPROXY_CLI_HTTPUSER: test
    PLANMILLPROXY_CLI_HTTPPASS: password

    GITHUBPROXY_CLI_ENDPOINT: http://localhost:8811/planmill-haxl
    GITHUBPROXY_CLI_HTTPUSER: test
    GITHUBPROXY_CLI_HTTPPASS: password
