application avatar
  docker: avatar
  executable: avatar-server

application checklist
  docker: checklist2
  executable: checklist-app-server

application contacts-api
  docker: contacts-api
  executable: contacts-api-server

application fum-carbon
  docker: fum-carbon
  executable: fum-carbon-server

application favicon
  docker: favicon
  executable: favicon

application hours-api
  docker: hours-api
  executable: hours-api-server

application planmill-proxy
  docker: planmill-proxy
  executable: planmill-proxy-server

application planmill-sync
  docker: planmill-sync
  executable: planmill-sync-server

application github-proxy
  docker: github-proxy
  executable: github-proxy-server

application github-sync
  docker: github-sync
  executable: github-sync-server

application prox
  docker: proxy-app
  executable: proxy-app-server

application prox-mgmt
  docker: proxy-mgmt-app
  executable: proxy-mgmt-app-server

application reports
  docker: reports-app
  executable: reports-app-server

application spice-stats
  docker: spice-stats
  executable: spice-stats-server

application theme
  docker: theme-app
  executable: theme-app-server

application sms-proxy
  docker: sms-proxy
  executable: sms-proxy-server

application email-proxy
  docker: email-proxy
  executable: email-proxy-server

application smileys-api
  docker: smileys-app
  executable: smileys-app-server

dockerfile-base-image: futurice/base-images:haskell-ghc-8.0.2-2
dockerfile-template:
  FROM ubuntu:xenial
  MAINTAINER Oleg Grenrus <oleg.grenrus@iki.fi>
  RUN apt-get -yq update && apt-get -yq --no-install-suggests --no-install-recommends --force-yes install {{debs}} && rm -rf /var/lib/apt/lists/*
  RUN useradd -m -s /bin/bash -d /app app
  EXPOSE 8000
  WORKDIR /app
  RUN chown -R app:app /app
  USER app
  ADD {{exe}} /app
  CMD ["/app/{{exe}}", "+RTS", "-N4", "-A32m", "-T", "-qg", "-I0"]

--
-- "-i100", "-hd" -- profiling
-- -qg disables parallel GC
-- -I0 disables idle GC

-- sfdp might be useful for graphs
-- ADD sfdp /usr/local/bin
deb-packages:
  ca-certificates
  curl
  graphviz
  libcairo2
  libfftw3-bin
  libgmp10
  libgts-bin
  libpango1.0
  libpq5
  netbase
  openssh-client

environment-variables
    FUM_LISTNAME: employees
    FUM_BASEURL: $prod-fum-baseurl
    FUM_TOKEN: $prod-fum-token

    FD_AUTH_TOKEN: $prod-fd-authtoken
    FD_ORGANISATION: futurice

    -- contacts is drunk
    FUM_USER_LIST: employees
    FUM_BASE_URL: $prod-fum-baseurl
    FUM_AUTH_TOKEN: $prod-fum-token
    GH_ORGANISATION: futurice

    PERSONIO_CLIENT_ID: $futu-personio-client-id
    PERSONIO_CLIENT_SECRET: $futu-personio-client-secret

    POSTGRES_URL: postgres://$USER@localhost:5432/$USER
    POSTGRES_PASS: ""

    PLANMILL_BASEURL: $prod-planmill-futu-basurl
    PLANMILL_ADMIN: $prod-planmill-futu-userid
    PLANMILL_SIGNATURE: $prod-planmill-futu-signature

    GH_AUTH_TOKEN: $github-auth-token
    GH_ORG: futurice
    GH_TEAM: $github-team

    -- reports-app
    REPORTS_GH_REPOSURL: $reports-gh-repos
    REPORTSAPP_MISSINGHOURS_CONTRACTS: 0,2,90

    PLANMILLPROXY_HAXLURL:    http://localhost:8808/planmill-haxl
    GITHUBPROXY_HAXLURL:      http://localhost:8811/github-haxl"
    PERSONIOPROXY_REQUESTURL: http://localhost:8812/api/personio-request
    FUMCARBON_HAXLURL:        http://localhost:8812/api/haxl

    -- proxy-app
    REPORTSAPP_BASEURL:    http://localhost:8807
    PLANMILLPROXY_BASEURL: http://localhost:8808
    GITHUBPROXY_BASEURL:   http://localhost:8811
    PERSONIOPROXY_BASEURL: http://localhost:8812
    FUMCARBON_BASEURL:     http://localhost:8812
    POWER_BASEURL:         http://localhost:8000

    -- ports
    AVATARAPP_PORT:     8801
    CONTACTSAPI_PORT:   8802
    -- These two are the same on purpose
    FUTUHOURSAPI_PORT:  8803
    FUTUHOURSMOCK_PORT: 8803
    PROXYAPP_PORT:      8804
    SPICESTATSAPP_PORT: 8805
    THEMEAPP_PORT:      8806
    REPORTSAPP_PORT:    8807
    PLANMILLPROXY_PORT: 8808
    PROXYMGMT_PORT:     8809
    CHECKLISTAPP_PORT:  8810
    GITHUBPROXY_PORT:   8811
    FUMAPP_PORT:        8812
    SMILEYS_PORT:       8813
    GITHUBSYNC_PORT:    8814
    PLANMILLSYNC_PORT:  8815

    AVATARAPP_EKGPORT:     9901
    CONTACTSAPI_EKGPORT:   9902
    -- These two are the same on purpose
    FUTUHOURSAPI_EKGPORT:  9903
    FUTUHOURSMOCK_EKGPORT: 9903
    PROXYAPP_EKGPORT:      9904
    SPICESTATSAPP_EKGPORT: 9905
    THEMEAPP_EKGPORT:      9906
    REPORTSAPP_EKGPORT:    9907
    PLANMILLPROXY_EKGPORT: 9908
    PROXYMGMT_EKGPORT:     9909
    CHECKLISTAPP_EKGPORT:  9910
    GITHUBPROXY_EKGPORT:   9911
    FUMAPP_EKGPORT:        9912
    SMILEYS_EKGPORT:       9913
    GITHUBSYNC_EKGPORT:    9914
    PLANMILLSYNC_EKGPORT:  9915

    -- For local development
    PLANMILLPROXY_CLI_ENDPOINT: http://localhost:8804/planmill-proxy
    PLANMILLPROXY_CLI_HTTPUSER: test
    PLANMILLPROXY_CLI_HTTPPASS: password

    GITHUBPROXY_CLI_ENDPOINT: http://localhost:8811/planmill-haxl
    GITHUBPROXY_CLI_HTTPUSER: test
    GITHUBPROXY_CLI_HTTPPASS: password
